* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}

header {
    background: #17202a;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card,
.box {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px #ccc;
}

.card {
    text-align: center;
}

.card p {
    font-size: 25px;
    font-weight: bold;
}

.box input,
.box select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

button {
    padding: 12px 20px;
    background: #198754;
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #146c43;
}

li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.progress {
    height: 25px;
    background: #ddd;
    border-radius: 20px;
    margin-top: 20px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: #198754;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 25px;
    background: #17202a;
    color: white;
}

@media(max-width:700px) {

    .summary {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 30px;
    }

}